*{
  background-color: beige;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  box-sizing: border-box;
}
.dish{
  height: auto;
  width: 450px;
}
.imageContainer{
  height: auto;
  width: 450px;
  margin: 30px;
}
.gif{
  height: auto;
  width: 300px;
}
.recipe-book-description{
  width: 700px;
  margin: 0 auto;
}
.dishName{
  margin-left: 190px;
  margin-right: 190px;;
}
.dishDescription{
  display: inline-block;
  width: 380px;
  /* here since the element is of type span, having display:inline thus width has no effect  */
  /* thus we set display: inline-block */
  height: 0 auto;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 50px; 
  vertical-align: top;
  /* for inline-block, by default the vertical-align is set to 
  baseline, set it to vertical-align: top */
  /* https://stackoverflow.com/questions/56433000/why-my-html-
  element-is-starting-from-the-bottom-if-i-apply-the-display-inline */
}