*{
  background-color: beige;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.heading{
  text-align: center;
}
ul{
  list-style: none;
}
.dish{
  height: auto;
  width: 450px;
}
.gif{
  height: auto;
  width: 300px;
}